# **For LOOP**

In [45]:
records: list[str] = ["Revealed", "Spinnin", "Armada", "Monstercat", "STMPD"];

print(records);

for record in records:

    print(record);

['Revealed', 'Spinnin', 'Armada', 'Monstercat', 'STMPD']
Revealed
Spinnin
Armada
Monstercat
STMPD

In [46]:
records: list[str] = ["Revealed", "Spinnin", "Armada", "Monstercat", "STMPD"];

i: int = 0;

while i < len(records):

    print(records[i]);

    i += 1;

Revealed
Spinnin
Armada
Monstercat
STMPD

In [47]:
for record in records:

    print(record.upper());

REVEALED
SPINNIN
ARMADA
MONSTERCAT
STMPD

In [48]:
for record in records: # Indentation

    print(record);

    print("Is EDM Records Label \n"); # Print In The Umberella Of Indentation

Revealed
Is EDM Records Label

Spinnin
Is EDM Records Label

Armada
Is EDM Records Label

Monstercat
Is EDM Records Label

STMPD
Is EDM Records Label

In [49]:
for record in records:

    print(record);

print("Is EDM Records Label"); # Print In Out Of Indentation

Revealed
Spinnin
Armada
Monstercat
STMPD
Is EDM Records Label

In [50]:
records: list[str] = ["Revealed", "Stmpd", "Spinnin", "Armada", "Monstercat"];

for record in records[:3]: # Apply Slicing

    print(record.upper());

    print("Is Top Records Label \n");

REVEALED
Is Top Records Label

STMPD
Is Top Records Label

SPINNIN
Is Top Records Label

In [51]:
records: list[str] = ["Revealed", "Stmpd", "Spinnin", "Armada", "Monstercat"];

for record in records[-3:]:

    print(record.upper());

    print("Is EDM Records Label \n");

SPINNIN
Is EDM Records Label

ARMADA
Is EDM Records Label

MONSTERCAT
Is EDM Records Label

In [52]:
records: list[str] = ["Revealed", "Stmpd", "Spinnin", "Armada", "Monstercat"];

for record in records[::-1]:

    print(record.upper());

    print("Is EDM Records Label \n");

MONSTERCAT
Is EDM Records Label

ARMADA
Is EDM Records Label

SPINNIN
Is EDM Records Label

STMPD
Is EDM Records Label

REVEALED
Is EDM Records Label

In [53]:
data_base : list[tuple[str,str]] = [("Ahmed","456"), ("AHM X","628")];

for row in data_base:

    print(row);

('Ahmed', '456')
('AHM X', '628')

In [54]:
data_base : list[tuple[str,str]] = [("Ahmed","456"), ("AHM X","628")];

for row in data_base:

    user, number = row;

    print(user, number);

Ahmed 456
AHM X 628

In [55]:
data_base : list[tuple[str,str]] = [("Ahmed","456"), ("AHM X","628")];

for row in data_base:

    user, number = row;

print(user, number);

AHM X 628

In [56]:
userName : str = input("Enter User Name: ");

print(userName);

Enter User Name: Ahmed
Ahmed

In [57]:
data_base : list[tuple[str,str]] = [("Ahmed","456"), ("AHM X","628"), ("Yaseen", "197")];

userName : str = input("Enter User Name: ");

rollNum : str = input("Enter Roll Number: ");

for row in data_base:

    user, number = row;

    if userName == user and rollNum == number:

        print(f"{user} Is Valid User");

        break;

else:

    print(f"Invalid User Name & Roll Number");

Enter User Name: AHM X
Enter Roll Number: 628
AHM X Is Valid User

In [58]:
names: list[str] = ["Ahmed", "Saleem", "Shaikh"];

for name in names:

    print(name);

else:

    print("Ahmed Shaykh");

Ahmed
Saleem
Shaikh
Ahmed Shaykh

In [59]:
names: list[str] = ["Ahmed", "Saleem", "Shaikh"];

for name in names:

    print(name);

print("Ahmed Shaykh");

Ahmed
Saleem
Shaikh
Ahmed Shaykh

In [60]:
names: list[str] = ["Ahmed", "Saleem", "Shaikh"];

for name in names:

    print(name);

    break;

else:

    print("Ahmed Shaykh");

Ahmed

In [61]:
names: list[str] = ["Ahmed", "Saleem", "Shaikh"];

for name in names:

    print(name);

    break;

print("Ahmed Shaykh");

Ahmed
Ahmed Shaykh

In [62]:
magicians: list[str] = ["Alice", "David", "Carolina"];

for magician in magicians:

    print(f"{magician.title()}, That Was A Great Trick! \n");

print(f"I Can't Wait To See Your Next Trick, {magician.title()}.");

Alice, That Was A Great Trick!

David, That Was A Great Trick!

Carolina, That Was A Great Trick!

I Can't Wait To See Your Next Trick, Carolina.

# **Numbers With LOOP**

In [63]:
magicians: list[str] = ["Alice", "David", "Carolina"];

list(enumerate(magicians))

[(0, 'Alice'), (1, 'David'), (2, 'Carolina')]

In [64]:
magicians: list[str] = ["Alice", "David", "Carolina"];

for index, name in enumerate(magicians):

    print(index, name);

0 Alice
1 David
2 Carolina

In [65]:
range(10)

range(0, 10)

In [66]:
list(range(10))

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [67]:
list(range(2,10))

[2, 3, 4, 5, 6, 7, 8, 9]

In [68]:
list(range(2,21,2))

[2, 4, 6, 8, 10, 12, 14, 16, 18, 20]

In [69]:
for n in range(2,21,2):

    print(n);

2
4
6
8
10
12
14
16
18
20

In [70]:
for n in range(1,11):

    print(f"{2} X {n} = {n*2}");

2 X 1 = 2
2 X 2 = 4
2 X 3 = 6
2 X 4 = 8
2 X 5 = 10
2 X 6 = 12
2 X 7 = 14
2 X 8 = 16
2 X 9 = 18
2 X 10 = 20

In [71]:
squares: list[int] = [];

for value in range(1, 11):

    square = value ** 2;

    squares.append(square);

print(squares);

[1, 4, 9, 16, 25, 36, 49, 64, 81, 100]

# **List Comprehensive**

In [72]:
list(range(1,11))

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [73]:
for i in range(1,11):

    print(i ** 2);

1
4
9
16
25
36
49
64
81
100

In [74]:
[i ** 2 for i in range(1,11)]

[1, 4, 9, 16, 25, 36, 49, 64, 81, 100]

In [75]:
digits:list[int] = [0, 1, 2, 3, 4, 5, 6, 7, 8, 9];

print(digits);

print(max(digits));

print(min(digits));

print(sum(digits));

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]
9
0
45

In [76]:
foods = ["Pizza", "Ice Cream", "Cake"];

friendFoods = foods[:]; # Put List Brackets It's Convert Is Deep Copy

print(foods);

print(friendFoods);

friendFoods[0] = "Tikka";

print(foods);

print(friendFoods);

['Pizza', 'Ice Cream', 'Cake']
['Pizza', 'Ice Cream', 'Cake']
['Pizza', 'Ice Cream', 'Cake']
['Tikka', 'Ice Cream', 'Cake']

# **Tuples**

In [77]:
letters: tuple[str] = ("A","B","C"); # Tuple Immutable (Constant)

print(letters[0]);

print(letters[0:2]);

A
('A', 'B')

In [78]:
letters: tuple[str] = ("A","B","C"); # Tuple Also No Value Update

print(letters);

letters: tuple[str] = ("Pakistan","B","C"); # Reassign Tuple (OverWrite)

('A', 'B', 'C')

In [79]:
data: tuple[str, int, float] = ("Ahmed", 56, 7.8);

print(data);

('Ahmed', 56, 7.8)

In [80]:
from typing import Any;

data: tuple[Any] = ("A", [1,2,3], True);

print(data);

('A', [1, 2, 3], True)

In [81]:
data: tuple[Any] = ("A", [1,2,3], True);

print(data[1]);

data[1].append(20); # Because It's List

print(data);

[1, 2, 3]
('A', [1, 2, 3, 20], True)

In [82]:
val = input("Enter Value: ");

print(type(val));

print(val);

Enter Value: AX
<class 'str'>
AX

In [83]:
sort: list[int] = sorted([7,8,1,3,6]);

print(sort);

[1, 3, 6, 7, 8]