# **For LOOP**

In [8]:
records: list[str] = ["Revealed", "Spinnin", "Armada", "Monstercat", "STMPD"];

print(records);

for record in records:
    
    print(record);

['Revealed', 'Spinnin', 'Armada', 'Monstercat', 'STMPD']
Revealed
Spinnin
Armada
Monstercat
STMPD

In [9]:
records: list[str] = ["Revealed", "Spinnin", "Armada", "Monstercat", "STMPD"];

i: int = 0;

while i < len(records):

    print(records[i]);

    i += 1;

Revealed
Spinnin
Armada
Monstercat
STMPD

In [10]:
for record in records:
    
    print(record.upper());

REVEALED
SPINNIN
ARMADA
MONSTERCAT
STMPD

In [11]:
for record in records: # Indentation
    
    print(record);

    print("Is EDM Records Labels \n"); # Print In The Umberella Of Indentation

Revealed
Is EDM Records Labels

Spinnin
Is EDM Records Labels

Armada
Is EDM Records Labels

Monstercat
Is EDM Records Labels

STMPD
Is EDM Records Labels

In [12]:
for record in records:
    
    print(record);

print("Is EDM Records Labels"); # Print In Out Of Indentation

Revealed
Spinnin
Armada
Monstercat
STMPD
Is EDM Records Labels

In [13]:
records: list[str] = ["Revealed", "Stmpd", "Spinnin", "Armada", "Monstercat"];

for record in records[:3]:
    
    print(record.upper());

    print("Is Top Records Labels \n");

REVEALED
Is Top Records Labels

STMPD
Is Top Records Labels

SPINNIN
Is Top Records Labels

In [14]:
records: list[str] = ["Revealed", "Stmpd", "Spinnin", "Armada", "Monstercat"];

for record in records[-3:]:
    
    print(record.upper());

    print("Is EDM Records Labels \n");

SPINNIN
Is EDM Records Labels

ARMADA
Is EDM Records Labels

MONSTERCAT
Is EDM Records Labels

In [15]:
records: list[str] = ["Revealed", "Stmpd", "Spinnin", "Armada", "Monstercat"];

for record in records[::-1]:
    
    print(record.upper());

    print("Is EDM Records Labels \n");

MONSTERCAT
Is EDM Records Labels

ARMADA
Is EDM Records Labels

SPINNIN
Is EDM Records Labels

STMPD
Is EDM Records Labels

REVEALED
Is EDM Records Labels

In [16]:
data_base : list[tuple[str,str]] = [("Ahmed","456"), ("Bilal","628")];

for row in data_base:
    
    print(row);

('Ahmed', '456')
('Bilal', '628')

In [17]:
data_base : list[tuple[str,str]] = [("Ahmed","456"), ("Bilal","628")];

for row in data_base:
    
    user, number = row;

    print(user, number);

Ahmed 456
Bilal 628

In [18]:
data_base : list[tuple[str,str]] = [("Ahmed","456"), ("Bilal","628")];

for row in data_base:
    
    user, number = row;

print(user, number);

Bilal 628

In [19]:
userName : str = input("Enter User Name");

print(userName);

AHM X

In [20]:
data_base : list[tuple[str,str]] = [("Ahmed","456"), ("Bilal","628"), ("Yaseen", "197")];

userName : str = input("Enter User Name");

rollNum : str = input("Enter Roll Number");

for row in data_base:

    user, number = row;

    if userName == user and rollNum == number:

        print(f"{user} Is Valid User");

        break;

else:

    print(f"Invalid User Name & Roll Number");

Ahmed Is Valid User

In [23]:
names: list[str] = ["Ahmed", "Saleem", "Shaikh"];

for name in names:

    print(name);

else:

    print("Ahmed Shaykh");

Ahmed
Saleem
Shaikh
Ahmed Shaykh

In [25]:
names: list[str] = ["Ahmed", "Saleem", "Shaikh"];

for name in names:

    print(name);

print("Ahmed Shaykh");

Ahmed
Saleem
Shaikh
Ahmed Shaykh

In [29]:
names: list[str] = ["Ahmed", "Saleem", "Shaikh"];

for name in names:

    print(name);

    break;

else:

    print("Ahmed Shaykh");

Ahmed

In [27]:
names: list[str] = ["Ahmed", "Saleem", "Shaikh"];

for name in names:

    print(name);

print("Ahmed Shaykh");

Ahmed
Saleem
Shaikh
Ahmed Shaykh

In [28]:
names: list[str] = ["Ahmed", "Saleem", "Shaikh"];

for name in names:

    print(name);

    break;

print("Ahmed Shaykh");

Ahmed
Ahmed Shaykh