# **Data Types**

In [144]:
name: str = "Ahmed Saleem Shaikh";

print(name);

Ahmed Saleem Shaikh

In [145]:
val: str = "Ahmëd Shäykh";

print(val);

val: int = 4;

print(val);

Ahmëd Shäykh
4

In [146]:
name: str = "sAbrina CarpenTer";

print(name.title());

print(name.upper());

print(name.lower());

Sabrina Carpenter
SABRINA CARPENTER
sabrina carpenter

In [147]:
mess: str = 'I Have 2 Million\'s Dollars';

print(mess);

I Have 2 Million's Dollars

In [148]:
name: str = "A" + "H" + "M" + " X";

print(name);

AHM X

In [149]:
print(9 + \
      10 + \
      6); # Backslash Means Next Logical Continue In Next Line

25

# **F-String**

In [150]:
first_name: str = "Imran";

last_name: str = "Khan";

full_name = f"{first_name} {last_name}";

print(full_name);

mess: str = f"{full_name.title()} Zindabad!";

print(mess);

Imran Khan
Imran Khan Zindabad!

In [151]:
name: str = "Ahmed Saleem Shaikh";

artistName: str = "AHM X";

age: int = 23;

skills: str = "Full Stack Developer & Music Producer";

muslim: bool = True;

visaCard: str = f"""
Name: {name}
Artist Name: {artistName}
age: {age}
Skills: {skills}
Muslim: {muslim}
""";

print(visaCard);

Name: Ahmed Saleem Shaikh
Artist Name: AHM X
age: 23
Skills: Full Stack Developer & Music Producer
Muslim: True

In [152]:
total: str = f"""
Totals: {3 + 5 + 8}
""";

print(total);

Totals: 16

In [153]:
[i for i in dir(str) if "__" not in i]

['capitalize',
 'casefold',
 'center',
 'count',
 'encode',
 'endswith',
 'expandtabs',
 'find',
 'format',
 'format_map',
 'index',
 'isalnum',
 'isalpha',
 'isascii',
 'isdecimal',
 'isdigit',
 'isidentifier',
 'islower',
 'isnumeric',
 'isprintable',
 'isspace',
 'istitle',
 'isupper',
 'join',
 'ljust',
 'lower',
 'lstrip',
 'maketrans',
 'partition',
 'removeprefix',
 'removesuffix',
 'replace',
 'rfind',
 'rindex',
 'rjust',
 'rpartition',
 'rsplit',
 'rstrip',
 'split',
 'splitlines',
 'startswith',
 'strip',
 'swapcase',
 'title',
 'translate',
 'upper',
 'zfill']

In [154]:
name : str = "AhMed ShAikh";

print(name.capitalize());

print(name.lower());

Ahmed shaikh
ahmed shaikh

In [155]:
a: int = 4;

b: int = 5;

val: str = "Value A Is = {} & B Is = {}".format(a, b);

print(val);

Value A Is = 4 & B Is = 5

In [156]:
name: str = "Ahmed Saleem Shaikh";

artistName: str = "AHM X";

age: int = 23;

skills: str = "Full Stack Developer & Music Producer";

muslim: bool = True;

visaCard: str = """
Name: {}
Artist Name: {}
age: {}
Skills: {}
Muslim: {}
""".format(name, artistName, age, skills, muslim);

print(visaCard);

Name: Ahmed Saleem Shaikh
Artist Name: AHM X
age: 23
Skills: Full Stack Developer & Music Producer
Muslim: True

In [157]:
visaCard: str = """
Name: {1}
Artist Name: {0}
age: {2}
Skills: {3}
Muslim: {4}
""".format(name, artistName, age, skills, muslim);

print(visaCard);

Name: AHM X
Artist Name: Ahmed Saleem Shaikh
age: 23
Skills: Full Stack Developer & Music Producer
Muslim: True

In [158]:
visaCard: str = """
Name: {a}
Artist Name: {b}
age: {c}
Skills: {d}
Muslim: {e}
""".format(
    b = artistName, 
    a = name, 
    c = age, 
    d = skills,
    e = muslim);

print(visaCard);

Name: Ahmed Saleem Shaikh
Artist Name: AHM X
age: 23
Skills: Full Stack Developer & Music Producer
Muslim: True

In [159]:
name: str = """
print("My Name Is Ahmed Shaykh");
a: int = 45;
b: int = 67;
print(a +  b);
""";

exec(name);

My Name Is Ahmed Shaykh
112

In [160]:
a: list[str] = [i for i in dir(str) if "__" not in i];

print(a);

print(len(a));

['capitalize', 'casefold', 'center', 'count', 'encode', 'endswith', 'expandtabs', 'find', 'format', 'format_map', 'index', 'isalnum', 'isalpha', 'isascii', 'isdecimal', 'isdigit', 'isidentifier', 'islower', 'isnumeric', 'isprintable', 'isspace', 'istitle', 'isupper', 'join', 'ljust', 'lower', 'lstrip', 'maketrans', 'partition', 'removeprefix', 'removesuffix', 'replace', 'rfind', 'rindex', 'rjust', 'rpartition', 'rsplit', 'rstrip', 'split', 'splitlines', 'startswith', 'strip', 'swapcase', 'title', 'translate', 'upper', 'zfill']
47

In [161]:
ai: str = "GEN Ai";

print(ai);

print(ai.lower());

print(ai.casefold());

GEN Ai
gen ai
gen ai

In [162]:
language: str = "Python     ";

print(language);

print(language.rstrip()); # Remove Extra Space For Right Side

language: str = "      JavaScript";

print(language);

print(language.lstrip()); # Remove Extra Space For Left Side

language: str = "     TypeScript      ";

print(language);

print(language.strip()); # Remove Extra Space For Both Sides

Python
Python
      JavaScript
JavaScript
     TypeScript
TypeScript

In [163]:
language: str = "Python     ";

display(language);

display(language.rstrip()); # Remove Extra Space For Right Side

language: str = "      JavaScript";

display(language);

display(language.lstrip()); # Remove Extra Space For Left Side

language: str = "     TypeScript      ";

display(language);

display(language.strip()); # Remove Extra Space For Both Sides

'Python     '

'Python'

'      JavaScript'

'JavaScript'

'     TypeScript      '

'TypeScript'

In [164]:
import re;

free: str = "        FrEE         PAlenStiNE     ";

display(free);

freedom: str = re.sub(" {2,100} ", " ", free).strip().title(); # Remove Extra Space In Words Middle

display(freedom);

'        FrEE         PAlenStiNE     '

'Free Palenstine'

In [165]:
print("TypeScript");

print("\tPython");

TypeScript
	Python

In [166]:
print("Languages:\n\nJavaScript\nPython\nTypeScript");

Languages:

JavaScript
Python
TypeScript

In [167]:
print("Languages:\n\n\tTypeScript\n\tPython\n\tSolidity");

Languages:

	TypeScript
	Python
	Solidity

In [168]:
nostarch_url: str = "https://ahmxmusic.com";

print(nostarch_url.removeprefix("https://"));

ahmxmusic.com

In [169]:
lang: str = "TS JS Python";

print(lang.removeprefix("TS "));

lang: str = "TS JS Python";

print(lang.removesuffix("Python"));

JS Python
TS JS

In [176]:
print("Name: \bImran Khan");

print("Name:          \bImran Khan"); # Remove 1 Letter Space

Name:Imran Khan
Name:         Imran Khan