# **Data Types**

In [97]:
name: str = "Ahmed Saleem Shaikh";

print(name);

Ahmed Saleem Shaikh

In [98]:
val: str = "Ahmëd Shäykh";

print(val);

val: int = 4;

print(val);

Ahmëd Shäykh
4

In [99]:
name: str = "sAbrina CarpenTer";

print(name.title());

print(name.upper());

print(name.lower());

Sabrina Carpenter
SABRINA CARPENTER
sabrina carpenter

In [100]:
mess: str = 'I Have 2 Million\'s Dollars';

print(mess);

I Have 2 Million's Dollars

In [101]:
name: str = "A" + "H" + "M" + " X";

print(name);

AHM X

In [102]:
print(9 + \
      10 + \
      6); # Backslash Means Next Logical Continue In Next Line

25

# **F-String**

In [213]:
first_name: str = "Imran";

last_name: str = "Khan";

full_name = f"{first_name} {last_name}";

print(full_name);

mess: str = f"{full_name.upper()} ZINDABAD!";

print(mess);

print(mess.title());

Imran Khan
IMRAN KHAN ZINDABAD!
Imran Khan Zindabad!

In [214]:
name: str = "Ahmed Saleem Shaikh";

artistName: str = "AHM X";

age: int = 23;

skills: str = "Full Stack Developer & Music Producer";

muslim: bool = True;

visaCard: str = f"""
Name: {name}
Artist Name: {artistName}
age: {age}
Skills: {skills}
Muslim: {muslim}
"""; # In A F-String Value Required In Brackets

print(visaCard);

Name: Ahmed Saleem Shaikh
Artist Name: AHM X
age: 23
Skills: Full Stack Developer & Music Producer
Muslim: True

In [215]:
total: str = f"""
Totals: {3 + 5 + 8}
""";

print(total);

Totals: 16

In [216]:
[i for i in dir(str) if "__" not in i]

['capitalize',
 'casefold',
 'center',
 'count',
 'encode',
 'endswith',
 'expandtabs',
 'find',
 'format',
 'format_map',
 'index',
 'isalnum',
 'isalpha',
 'isascii',
 'isdecimal',
 'isdigit',
 'isidentifier',
 'islower',
 'isnumeric',
 'isprintable',
 'isspace',
 'istitle',
 'isupper',
 'join',
 'ljust',
 'lower',
 'lstrip',
 'maketrans',
 'partition',
 'removeprefix',
 'removesuffix',
 'replace',
 'rfind',
 'rindex',
 'rjust',
 'rpartition',
 'rsplit',
 'rstrip',
 'split',
 'splitlines',
 'startswith',
 'strip',
 'swapcase',
 'title',
 'translate',
 'upper',
 'zfill']

In [217]:
name : str = "AhMed ShAikh";

print(name.capitalize());

print(name.lower());

Ahmed shaikh
ahmed shaikh

In [218]:
a: int = 4;

b: int = 5;

val: str = "Value A Is = {} & B Is = {}".format(a, "8"); # F-String Not Accept Empty Brackets

print(val);

Value A Is = 4 & B Is = 8

In [109]:
name: str = "Ahmed Saleem Shaikh";

artistName: str = "AHM X";

age: int = 23;

skills: str = "Full Stack Developer & Music Producer";

muslim: bool = True;

visaCard: str = """
Name: {}
Artist Name: {}
age: {}
Skills: {}
Muslim: {}
""".format(name, artistName, age, skills, muslim); # This Method Not Apply In F-String

print(visaCard);

Name: Ahmed Saleem Shaikh
Artist Name: AHM X
age: 23
Skills: Full Stack Developer & Music Producer
Muslim: True

In [110]:
visaCard: str = """
Name: {1}
Artist Name: {0}
age: {2}
Skills: {3}
Muslim: {4}
""".format(name, artistName, age, skills, muslim);

print(visaCard);

Name: AHM X
Artist Name: Ahmed Saleem Shaikh
age: 23
Skills: Full Stack Developer & Music Producer
Muslim: True

In [219]:
visaCard: str = """
Name: {a}
Artist Name: {b}
age: {c}
Skills: {d}
Muslim: {e}
""".format(
    b = artistName, 
    a = name, 
    c = age,
    d = skills,
    e = muslim);

print(visaCard);

Name: AhMed ShAikh
Artist Name: AHM X
age: 23
Skills: Full Stack Developer & Music Producer
Muslim: True

In [220]:
name: str = """
print("My Name Is Ahmed Shaykh");
a: int = 45;
b: int = 67;
print(a +  b);
""";

exec(name);

print(name);

My Name Is Ahmed Shaykh
112

print("My Name Is Ahmed Shaykh");
a: int = 45;
b: int = 67;
print(a +  b);

In [221]:
a: list[str] = [i for i in dir(str) if "__" not in i];

print(len(a));

display(a);

47

['capitalize',
 'casefold',
 'center',
 'count',
 'encode',
 'endswith',
 'expandtabs',
 'find',
 'format',
 'format_map',
 'index',
 'isalnum',
 'isalpha',
 'isascii',
 'isdecimal',
 'isdigit',
 'isidentifier',
 'islower',
 'isnumeric',
 'isprintable',
 'isspace',
 'istitle',
 'isupper',
 'join',
 'ljust',
 'lower',
 'lstrip',
 'maketrans',
 'partition',
 'removeprefix',
 'removesuffix',
 'replace',
 'rfind',
 'rindex',
 'rjust',
 'rpartition',
 'rsplit',
 'rstrip',
 'split',
 'splitlines',
 'startswith',
 'strip',
 'swapcase',
 'title',
 'translate',
 'upper',
 'zfill']

In [222]:
ai: str = "GEN Ai";

print(ai);

print(ai.lower());

print(ai.casefold());

GEN Ai
gen ai
gen ai

In [115]:
language: str = "Python     ";

print(language);

print(language.rstrip()); # Remove Extra Space For Right Side

language: str = "      JavaScript";

print(language);

print(language.lstrip()); # Remove Extra Space For Left Side

language: str = "     TypeScript      ";

print(language);

print(language.strip()); # Remove Extra Space For Both Sides

Python
Python
      JavaScript
JavaScript
     TypeScript
TypeScript

In [223]:
language: str = "Python     ";

display(language);

display(language.rstrip()); # Remove Extra Space For Right Side

language: str = "      JavaScript";

display(language);

display(language.lstrip()); # Remove Extra Space For Left Side

language: str = "     TypeScript      ";

display(language);

display(language.strip()); # Remove Extra Space For Both Sides

'Python     '

'Python'

'      JavaScript'

'JavaScript'

'     TypeScript      '

'TypeScript'

In [117]:
free: str = "        FrEE         PAlenStiNE     ";

freedom = " ".join(free.strip().split()).title();

display(freedom);

'Free Palenstine'

In [224]:
import re; # Regex (Regular Expression)

free: str = "        FrEE         PAlenStiNE     ";

display(free);

freedom: str = re.sub(" {2,100} ", " ", free).strip().title(); # Remove Extra Space In Words Middle

display(freedom);

'        FrEE         PAlenStiNE     '

'Free Palenstine'

In [225]:
print("TypeScript");

print("\tPython");

TypeScript
	Python

In [120]:
print("Languages:\n\nJavaScript\nPython\nTypeScript");

Languages:

JavaScript
Python
TypeScript

In [121]:
print("Languages:\n\n\tTypeScript\n\tPython\n\tSolidity");

Languages:

	TypeScript
	Python
	Solidity

In [122]:
nostarch_url: str = "https://ahmxmusic.com";

print(nostarch_url.removeprefix("https://"));

ahmxmusic.com

In [123]:
lang: str = "TS JS Python";

print(lang.removeprefix("TS "));

lang: str = "TS JS Python";

print(lang.removesuffix("Python"));

lang: str = "TS JS Python";

print(lang.replace(" JS ", " "));

JS Python
TS JS
TS Python

In [124]:
print("Name: \bImran Khan"); # Remove 1 Letter Space

Name:Imran Khan

In [226]:
boolean: bool = True;

print(boolean);
print(id(boolean));

boolean: bool = bool(1);

print(boolean);
print(type(boolean));

boolean: bool = bool(0);

print(boolean);
print(id(boolean));
print(type(boolean));

True
140726669544144
True
<class 'bool'>
False
140726669544176
<class 'bool'>

# **Operators**

# **Arithmetic Operators**

In [126]:
# !conda install lxml -y (HTML TO XML)

import pandas as pd;

table = pd.read_html("https://www.w3schools.com/python/python_operators.asp");

table[0]

  Operator            Name Example    Try it
0        +        Addition   x + y  Try it »
1        -     Subtraction   x - y  Try it »
2        *  Multiplication   x * y  Try it »
3        /        Division   x / y  Try it »
4        %         Modulus   x % y  Try it »
5       **  Exponentiation  x ** y  Try it »
6       //  Floor division  x // y  Try it »

In [127]:
num: int = 2 + 3;

print(num);

num: int = 2 * 3;

print(num);

num: int = 3 / 2;

print(num);

num: int = 4 ** 4;

print(num);

5
6
1.5
256

In [128]:
a : int = 11;

b : int = 3;

print(12 % b); # Reminder

print(a % b);

0
2

In [227]:
print(12 / 3); # Normal Division Value Return In Float

print( 12 // 3); # Floor Division Value Return In Integer

print(14.8 / 3);

print(14.8 // 3);

print(17 // 3);

4.0
4
4.933333333333334
4.0
5

# **Assignment Operators**

In [228]:
table[1]

   Operator  Example     Same As    Try it
0         =    x = 5       x = 5  Try it »
1        +=   x += 3   x = x + 3  Try it »
2        -=   x -= 3   x = x - 3  Try it »
3        *=   x *= 3   x = x * 3  Try it »
4        /=   x /= 3   x = x / 3  Try it »
5        %=   x %= 3   x = x % 3  Try it »
6       //=  x //= 3  x = x // 3  Try it »
7       **=  x **= 3  x = x ** 3  Try it »
8        &=   x &= 3   x = x & 3  Try it »
9        |=   x |= 3   x = x | 3  Try it »
10       ^=   x ^= 3   x = x ^ 3  Try it »
11      >>=  x >>= 3  x = x >> 3  Try it »
12      <<=  x <<= 3  x = x << 3  Try it »

In [131]:
a : int = 7;

a = a + 2;

print(a);

a += 1;

print(a);

9
10

In [132]:
x: int = 5;

x -= 3;

print(x);

x: int = 5;

x %= 3;

print(x);

2
2

In [133]:
x: int = 5;

x /= 3;

print(x);

x: int = 5;

x //= 3;

print(x);

x: int = 5;

x **= 3;

print(x);

1.6666666666666667
1
125

# **Comparison Operators**

In [134]:
table[2]

  Operator                      Name Example    Try it
0       ==                     Equal  x == y  Try it »
1       !=                 Not equal  x != y  Try it »
2        >              Greater than   x > y  Try it »
3        <                 Less than   x < y  Try it »
4       >=  Greater than or equal to  x >= y  Try it »
5       <=     Less than or equal to  x <= y  Try it »

In [135]:
a : int = 7;

b : str = "7";

print(a == b);

print(a == int(b));

print(a != b);

False
True
True

In [166]:
a : int = 67;

b : str = 49;

print(a < b);

print(a > b);

print(a >= b);

False
True
True

### **ASCII Code**

A = 65
B = 66
Z = 90

a = 97
b = 98
z = 122

0 = 48
1 = 49
9 = 57

In [229]:
print(ord("A"));

65

In [230]:
print(chr(65));

A

In [237]:
a : str = "A";

b : str = "B";

print(a <= b);

print(12 >= 12);

True
True

# **Logical Operators**

In [140]:
table[3]

,Operator,Description,Example,Try it
0,and,Returns True if both statements are true,x < 5 and x < 10,Try it »
1,or,Returns True if one of the statements is true,x < 5 or x < 4,Try it »
2,not,"Reverse the result, returns False if the resul...",not(x < 5 and x < 10),Try it »

In [238]:
print(True and True and True and True);

print(True and False and False and True);

print(False and False and False and True);

True
False
False

In [239]:
print(True or True or True or True);

print(True or True or False or True);

print(False or False or False or True);

print(False or False or False or False);

True
True
True
False

In [240]:
print(not False); # Reverse Value

True

In [241]:
name : str = "Ahmed";

print(not name == "Ahmed");

name : str = "Ahmed";

print(not name != "Ahmed");

False
True

# **Identity Operators**

In [242]:
table[4]

,Operator,Description,Example,Try it
0,is,Returns True if both variables are the same ob...,x is y,Try it »
1,is not,Returns True if both variables are not the sam...,x is not y,Try it »

In [245]:
x : str = "abc";

z : str = "xyz";

print(id(x));

print(id(z));

a : str = "abc";

print(a is x);

print(z is not z);

print(z is not a);

140726669807880
1622506574672
True
False
True

# **Membership Operators**

In [246]:
table[5]

,Operator,Description,Example,Try it
0,in,Returns True if a sequence with the specified ...,x in y,Try it »
1,not in,Returns True if a sequence with the specified ...,x not in y,Try it »

In [148]:
alphabet: list[str] = [chr(i) for i in range(65,91)];

alphabet

['A',
 'B',
 'C',
 'D',
 'E',
 'F',
 'G',
 'H',
 'I',
 'J',
 'K',
 'L',
 'M',
 'N',
 'O',
 'P',
 'Q',
 'R',
 'S',
 'T',
 'U',
 'V',
 'W',
 'X',
 'Y',
 'Z']

In [149]:
for i in range(len(alphabet)):

    print(i, alphabet[i]);

0 A
1 B
2 C
3 D
4 E
5 F
6 G
7 H
8 I
9 J
10 K
11 L
12 M
13 N
14 O
15 P
16 Q
17 R
18 S
19 T
20 U
21 V
22 W
23 X
24 Y
25 Z

In [248]:
for i in range(len(alphabet)):

    print(i, alphabet[i]);

    if alphabet[i] ==  "D":

        print("True");

        break;

0 A
1 B
2 C
3 D
True

In [249]:
alphabet: list[str] = [chr(i) for i in range(65,91)];

print(alphabet);

"X" in alphabet

['A', 'B', 'C', 'D', 'E', 'F', 'G', 'H', 'I', 'J', 'K', 'L', 'M', 'N', 'O', 'P', 'Q', 'R', 'S', 'T', 'U', 'V', 'W', 'X', 'Y', 'Z']

True

In [250]:
"AHM X" in alphabet

False

In [251]:
names : list[str] = ["Ahmed","Saleem","Shaikh"];

uinput : str = input("Enter Your Name");

uinput in names

False

In [253]:
names : list[str] = ["Ahmed","Saleem","Shaikh"];

uinput : str = input("Enter Your Name");

uinput not in names

True

# **PEMDAS**

In [191]:
num: int = 2 + 3 * 4;

print(num);

num: int = (2 + 3) * 4;

print(num);

14
20

In [156]:
print(3 + 2 - 2 * 4 / 2 + 2);

print(3 + 2 - 2 * 4 // 2 + 2);

3.0
3

In [256]:
floatNum: float = 0.1 + 0.1;

print(floatNum);

floatNum: float = 2 * 0.2;

print(floatNum);

floatNum: float = 0.2 + 0.1;

print(floatNum);

floatNum: float = 3 * 0.1;

print(floatNum);

num: int = 4 / 2;

print(num);

print(type(num));

num: int = 4 // 2;

print(num);

print(type(num));

floatNum: float = 3.0 ** 2;

print(floatNum);

0.2
0.4
0.30000000000000004
0.30000000000000004
2.0
<class 'float'>
2
<class 'int'>
9.0

In [257]:
print((6 + 3) - (6 + 3));

0

In [258]:
universe_age = 14_000_000_000;

print(universe_age);

print(type(universe_age));

14000000000
<class 'int'>

In [260]:
x, z = "Web", 3.0;

print(x);
print(z);

print(x, z);

Web
3.0
Web 3.0

In [261]:
a, b, c = ("Ahmed", 4, True);

print(a);

print(c);

data = ("Ahmed", 4, True); # Tuple

print(data[0], data[1], data[2]);

Ahmed
True
Ahmed 4 True

In [263]:
print( * data);

Ahmed 4 True

In [265]:
print(2 * 2);

print("a" * 3);

4
aaa