# **Variables**

In [22]:
message = "Learning Generative AI!";

print(message);

Learning Generative AI!

In [23]:
message = "Learning Generative AI!";

print(message);

message = "Learning Gen AI!";

print(message);

Learning Generative AI!
Learning Gen AI!

In [24]:
name = "my name is ahmed shaykh";

print(name.title());

My Name Is Ahmed Shaykh

# **Data Types**

In [26]:
name: str = "Ahmed Saleem Shaikh";

print(name);

Ahmed Saleem Shaikh

In [27]:
val: str = "Ahmëd Shäykh";

print(val);

val: int = 4;

print(val);

Ahmëd Shäykh
4

In [31]:
name: str = "sAbrina CarpenTer";

print(name.title());

print(name.upper());

print(name.lower());

Sabrina Carpenter
SABRINA CARPENTER
sabrina carpenter

In [36]:
first_name: str = "Imran";

last_name: str = "Khan";

full_name = f"{first_name} {last_name}";

print(full_name);

mess: str = f"{full_name.title()} Zindabad!";

print(mess);

Imran Khan
Imran Khan Zindabad!

In [38]:
print("TypeScript");

print("\tPython");

TypeScript
	Python

In [43]:
print("Languages:\n\nJavaScript\nPython\nTypeScript");

Languages:

JavaScript
Python
TypeScript

In [44]:
print("Languages:\n\n\tTypeScript\n\tPython\n\tSolidity");

Languages:

	TypeScript
	Python
	Solidity

In [60]:
language: str = "Python ";

print(language);

print(language.rstrip()); # Remove Extra Space For Right Side

language: str = " JavaScript";

print(language);

print(language.lstrip()); # Remove Extra Space For Left Side

language: str = "  TypeScript  ";

print(language);

print(language.strip()); # Remove Extra Space For Both Sides

Python
Python
 JavaScript
JavaScript
  TypeScript
TypeScript

In [62]:
url: str = "https://ahmxmusic.com";

print(url.removeprefix("https://"));

ahmxmusic.com

In [72]:
lang: str = "TS JS Python";

print(lang.removeprefix("TS "));

lang: str = "TS JS Python";

print(lang.removesuffix("Python"));

JS Python
TS JS

In [75]:
num: int = 2 + 3;

print(num);

num: int = 2 * 3;

print(num);

num: int = 3 / 2;

print(num);

num: int = 4 ** 4;

print(num);

5
6
1.5
256

In [76]:
num: int = 2 + 3 * 4;

print(num);

num: int = (2 + 3) * 4;

print(num);

14
20

In [87]:
floatNum: float = 0.1 + 0.1;

print(floatNum);

floatNum: float = 2 * 0.2;

print(floatNum);

floatNum: float = 0.2 + 0.1;

print(floatNum);

floatNum: float = 3 * 0.1;

print(floatNum);

num: int = 4/2;

print(num);
print(type(num));

floatNum: float = 3.0 ** 2;

print(floatNum);

0.2
0.4
0.30000000000000004
0.30000000000000004
2.0
<class 'float'>
9.0

In [89]:
universe_age = 14_000_000_000;

print(universe_age);
print(type(universe_age));

14000000000
<class 'int'>

In [96]:
x, y, z = 7, 8, 6;

print(x);
print(z);

7
6

In [105]:
boolean: bool = True;

print(boolean);
print(id(boolean));

boolean: bool = bool(1);

print(boolean);
print(type(boolean));

boolean: bool = bool(0);

print(boolean);
print(id(boolean));
print(type(boolean));

True
99173244232736
True
<class 'bool'>
False
99173244232704
<class 'bool'>