# **For LOOP Apply In All Types**

In [31]:
from typing import List;

li : List[int] = [1,2,3,4,5,6];

for n in li:

    print(n);

1
2
3
4
5
6

In [32]:
from typing import Tuple;

li : Tuple[int] = (1,2,3,4,5,6);

for n in li:

    print(f"Current Number {n}");

Current Number 1
Current Number 2
Current Number 3
Current Number 4
Current Number 5
Current Number 6

In [33]:
from typing import Set;

li : Set[int] = {1,1,2,3,4,2,5,7}; # Unique Value

for key in li:

    print(f"Set Item {key}");

Set Item 1
Set Item 2
Set Item 3
Set Item 4
Set Item 5
Set Item 7

In [34]:
li : str = "Pakistan";

for n in li:

    print(f"Current Character {n}");

Current Character P
Current Character a
Current Character k
Current Character i
Current Character s
Current Character t
Current Character a
Current Character n

In [36]:
from typing import Dict;

li : Dict[str, str] = { "Name": "Ahmed" };

for key in li:

    print(f"My {key} Is {li[key]}");

My Name Is Ahmed

In [37]:
from typing import List, Set;

li : List[Set[int]] = list({1,1,2,3,4,2,5,7});

print(type(li));

for n in li:

    print(f"Value From List Of Set: {n}"); # Set Value No List

<class 'list'>
Value From List Of Set: 1
Value From List Of Set: 2
Value From List Of Set: 3
Value From List Of Set: 4
Value From List Of Set: 5
Value From List Of Set: 7

In [38]:
data : list[str] = ["a","b","c"];

data2 : list[str] = ["x","y","z"];

data3 : list[int] = [1,2,3];

print(zip(data, data2, data3));

print(list(zip(data, data2, data3)));

<zip object at 0x7c090320c780>
[('a', 'x', 1), ('b', 'y', 2), ('c', 'z', 3)]

In [39]:
for val, val2, val3 in zip(data, data2, data3):

    print(f"{val} {val2} {val3}");

a x 1
b y 2
c z 3

# **While LOOP & Input**

In [40]:
name : str = input("What Is Your Name?: ");

print(type(name));

print(f"My Name Is {name}!");

What Is Your Name?: Ahmed
<class 'str'>
My Name Is Ahmed!

In [41]:
flag : bool = True;

number : int = 0;

while flag:

    print(f"No. {number}");

    number += 1;

    if number == 10:

        break;

No. 0
No. 1
No. 2
No. 3
No. 4
No. 5
No. 6
No. 7
No. 8
No. 9

In [42]:
li: list[int] = [100,200,300];

index : int = 0;

while index < len(li):

    print(f"Current Index Is: {index} & List Value Is {li[index]}");

    index += 1;

Current Index Is: 0 & List Value Is 100
Current Index Is: 1 & List Value Is 200
Current Index Is: 2 & List Value Is 300

In [43]:
data : list[dict[str,str]] = [];

flag : bool = True;

while flag:

    print("Write Quit Or Exit To Stop This Program");

    name : str = input("Enter Your Name: ");

    eduction: str = input("Enter Your Education: ");

    if name in ["Exit","Quit","Close","Stop"] or eduction in ["exit","quit","close","stop"]:

        flag = False

        break;

    data.append(
                {"name":name,
                "education": eduction}
                );

display(data);

Write Quit Or Exit To Stop This Program
Enter Your Name: Ahmed
Enter Your Education: Exit
Write Quit Or Exit To Stop This Program
Enter Your Name: Ahmed
Enter Your Education: exit

[{'name': 'Ahmed', 'education': 'Exit'}]

In [44]:
for i in range(1,11):

    print(i);

    if i == 5:

        break;

1
2
3
4
5

In [45]:
for i in range(1,11):

    print(f"2 X {i} = {i*2}");

    break;

2 X 1 = 2

In [46]:
for i in range(1,11):

    print(f"2 X {i} = {i*2}");

2 X 1 = 2
2 X 2 = 4
2 X 3 = 6
2 X 4 = 8
2 X 5 = 10
2 X 6 = 12
2 X 7 = 14
2 X 8 = 16
2 X 9 = 18
2 X 10 = 20

In [47]:
for i in range(1, 11):

    if i == 5:

        print(f"Number {i}");

        continue;

    print(i);

1
2
3
4
Number 5
6
7
8
9
10

In [48]:
if True:

    name : str = input("Your Name: ");

    print(name);

print("Free Palestine");

Your Name: Ahmed Saleem
Ahmed Saleem
Free Palestine

In [49]:
if True:

    pass; # Escape The Logic Go To Next Line

print("Free Palestine");

Free Palestine

In [50]:
print(1 + 7 + 3 + 4);

print(1 + 7 \
      + 3 \
         + 4);

15
15

In [51]:
prompt = """If You Share Your Name, We Can Personalize The Messages You See. \
What Is Your First Name: """;

name = input(prompt);

print(f"\nHello, {name}!");

If You Share Your Name, We Can Personalize The Messages You See. What Is Your First Name: AHM X

Hello, AHM X!

In [52]:
age: int = int(input("How Old Are You: "));

print(age >= 18);

print(age);

How Old Are You: 24
True
24

In [53]:
data: list[int] = [1, 3, 5, 6, 3, 15, 18];

print([ i for i in data if i % 2 == 0 ]);

[6, 18]

In [54]:
data: list[int] = [1, 3, 5, 6, 3, 15, 18];

print([ i for i in data if i % 2 != 0 ]);

[1, 3, 5, 3, 15]

In [55]:
currentNumber = 0;

while currentNumber < 10:

    currentNumber += 1;

    if currentNumber % 2 != 0:

        continue;

    print(currentNumber);

2
4
6
8
10

In [56]:
currentNumber = 0;

while currentNumber < 10:

    currentNumber += 1;

    if currentNumber % 2 == 0:

        continue;

    print(currentNumber);

1
3
5
7
9

In [57]:
prompt: str = "Enter Value: ";

message: str = "";

while message != "Quit":

    message = input(prompt);

    print(message);

Enter Value: Quit
Quit

In [58]:
prompt: str = "Enter Value: ";

active = True;

while active:

    message = input(prompt);

    if message == "Quit":

        active = False;

    else:

        print(message);

Enter Value: quit
quit
Enter Value: Quit

In [59]:
data: list[int] = [1,2,3];

while data:

    n : int = data.pop();

    print(n);

3
2
1

In [60]:
pets: list[str] = ["Dog", "Cat", "Sparrow", "Goldfish", "Cat", "Rabbit", "Cat"];

print(pets);

while "Cat" in pets:

    pets.remove("Cat");

print(pets);

['Dog', 'Cat', 'Sparrow', 'Goldfish', 'Cat', 'Rabbit', 'Cat']
['Dog', 'Sparrow', 'Goldfish', 'Rabbit']

In [61]:
unConfirmedUsers: list[str] = ["Mani", "Yaseen", "Usman"];

confirmedUsers: list[str] = [];

while unConfirmedUsers:

    currentUser = unConfirmedUsers.pop();

    print(f"Verifying user: {currentUser.upper()}");

    confirmedUsers.append(currentUser);

print("\nThe Following Users Have Been Confirmed:");

for confirmedUser in confirmedUsers:

    print(confirmedUser);

Verifying user: USMAN
Verifying user: YASEEN
Verifying user: MANI

The Following Users Have Been Confirmed:
Usman
Yaseen
Mani