# **Dictionary**

In [53]:
from typing import Dict;

data : Dict[str,str] = { "fName": "Ahmed", "mName": "Saleem", "lName": "Shaikh" };

print(data);

{'fName': 'Ahmed', 'mName': 'Saleem', 'lName': 'Shaikh'}

In [54]:
from typing import Dict;
import pprint;

data : Dict[str,str] = { "fName": "Ahmed", "mName": "Saleem", "lName": "Shaikh" };

pprint.pprint(data); # Print In Sequence

{'fName': 'Ahmed', 'lName': 'Shaikh', 'mName': 'Saleem'}

In [55]:
data: set = { 1, 1, 4, 5, 4, 7 };

print(data); # Set Type Return Unique Value In Order & Not Apply Indexing

{1, 4, 5, 7}

In [56]:
[i for i in dir(data) if "__" not in i] # Check Set Data Types Methods & Attributes

['add',
 'clear',
 'copy',
 'difference',
 'difference_update',
 'discard',
 'intersection',
 'intersection_update',
 'isdisjoint',
 'issubset',
 'issuperset',
 'pop',
 'remove',
 'symmetric_difference',
 'symmetric_difference_update',
 'union',
 'update']

In [57]:
from typing import Dict, Union;
import pprint;

Key = Union[int, str];

Value = Union[int, str, list, dict, tuple, set];

data : Dict[Key, Value] = {
                            "fName": "Ahmed",
                            "mName": "Saleem",
                            "lName": "Shaikh"
                        };

pprint.pprint(data);

{'fName': 'Ahmed', 'lName': 'Shaikh', 'mName': 'Saleem'}

In [58]:
from typing import Dict, Union;
import pprint;

Key = Union[int, str];

Value = Union[int, str, list, dict, tuple, set];

data : Dict[Key, Value] = {
                              "fName": "Ahmed",
                              "mName": "Saleem",
                              "lName": "Shaikh",
                              100: "Pakistan",
                              "Array": [1, 2, 3],
                              "Obj": {1, 2, 3},
                              "Fun": (1, 2, 3),
                              "Oop": {"A": 1, "B": 2}
                         };

pprint.pprint(data);

print(data["fName"]);

print(data[100]);

print(data["Obj"]);

print(data["Oop"]);

{100: 'Pakistan',
 'Array': [1, 2, 3],
 'Fun': (1, 2, 3),
 'Obj': {1, 2, 3},
 'Oop': {'A': 1, 'B': 2},
 'fName': 'Ahmed',
 'lName': 'Shaikh',
 'mName': 'Saleem'}
Ahmed
Pakistan
{1, 2, 3}
{'A': 1, 'B': 2}

In [59]:
data: set = { 1, 1, 4, 5, 4, 7 };

print(data);

listData: list[int] = list(data);

print(listData);

{1, 4, 5, 7}
[1, 4, 5, 7]

In [60]:
from typing import Dict, Union;

Key = Union[int, str];

Value = Union[int, str, list, dict, tuple, set];

data : Dict[Key, Value] = {
                              "fName": "Ahmed",
                              "mName": "Saleem",
                              "lName": "Shaikh",
                              100: "Pakistan",
                              "Array": [1, 2, 3],
                              "Obj": {1, 2, 3},
                              "Fun": (1, 2, 3),
                              "Oop": {"A": 1, "B": 2}
                         };

print(data["Oop"]["A"]);

1

In [61]:
from typing import Dict, Union;
import pprint;

Key = Union[int, str];

Value = Union[int, str, list, dict, tuple, set];

data : Dict[Key, Value] = {};

data["Country"] = "Nertherlands";

data["Message"] = "Free Palestine";

data["Learning Language"] = "Python";

pprint.pprint(data);

{'Country': 'Nertherlands',
 'Learning Language': 'Python',
 'Message': 'Free Palestine'}

In [62]:
from typing import Dict, Union;
import pprint;

Key = Union[int, str];

Value = Union[int, str, list, dict, tuple, set];

data : Dict[Key, Value] = {
                            "Country": "Nertherlands",
                            "Message": "Free Palestine",
                            "Learning Language":"Python"
                        };

pprint.pprint(data);

{'Country': 'Nertherlands',
 'Learning Language': 'Python',
 'Message': 'Free Palestine'}

In [63]:

data["fullName"] = "Ahmed Shaykh";

pprint.pprint(data);

{'Country': 'Nertherlands',
 'Learning Language': 'Python',
 'Message': 'Free Palestine',
 'fullName': 'Ahmed Shaykh'}

# **Dictionary Methods**

In [64]:
[i for i in dir(data) if "__" not in i]

['clear',
 'copy',
 'fromkeys',
 'get',
 'items',
 'keys',
 'pop',
 'popitem',
 'setdefault',
 'update',
 'values']

In [65]:
print(data.get("Pakistan", "Not Available"));

print(data.get("Message", "Not Available"));

Not Available
Free Palestine

In [66]:
from typing import Dict, Union;
import pprint;

Key = Union[int, str];

Value = Union[int, str, list, dict, tuple, set];

data : Dict[Key, Value] = {
                            "Country": "Nertherlands",
                            "Message": "Free Palestine",
                            "Learning Language": "Python"
                        };

for key in data:

    pprint.pprint(key);

'Country'
'Message'
'Learning Language'

In [67]:
from typing import Dict, Union;

Key = Union[int, str];

Value = Union[int, str, list, dict, tuple, set];

data : Dict[Key, Value] = {
                            "Country": "Nertherlands",
                            "Message": "Free Palestine",
                            "Learning Language":"Python"
                        };

print(data.keys()); # Keys
print(data.values()); # Values
print(data.items()); # All Items In Dictionary

for val in data.keys():

    print(val);

    print(f"{data[val]} \n");

dict_keys(['Country', 'Message', 'Learning Language'])
dict_values(['Nertherlands', 'Free Palestine', 'Python'])
dict_items([('Country', 'Nertherlands'), ('Message', 'Free Palestine'), ('Learning Language', 'Python')])
Country
Nertherlands

Message
Free Palestine

Learning Language
Python

In [68]:
for key, val in data.items():

    print(key, val);

Country Nertherlands
Message Free Palestine
Learning Language Python

In [69]:
import pprint;

pprint.pprint({ key: val for key, val in data.items() }); # List Comprehensive

{'Country': 'Nertherlands',
 'Learning Language': 'Python',
 'Message': 'Free Palestine'}

In [70]:
import pprint;

pprint.pprint({ val: key for key, val in data.items() }); # Shuffle

{'Free Palestine': 'Message',
 'Nertherlands': 'Country',
 'Python': 'Learning Language'}

In [71]:
a : int = 7;
b : int = 9;

a, b = b, a; # Shuffle

print(a, b);

9 7

In [72]:
from typing import Dict, Union;

Key = Union[int, str];

Value = Union[int, str, list, dict, tuple, set];

data : Dict[Key, Value] = {
                            "Country": "Nertherlands",
                            "Message": "Free Palestine",
                            "Learning Language":"Python"
                        };

print(data);

data.clear();

print(data);

{'Country': 'Nertherlands', 'Message': 'Free Palestine', 'Learning Language': 'Python'}
{}

In [73]:
from typing import Dict, Union;
import pprint;

Key = Union[int, str];

Value = Union[int, str, list, dict, tuple, set];

data : Dict[Key, Value] = {
                            "Country": "Nertherlands",
                            "Message": "Free Palestine 🇵🇸",
                            "Learning Language":"Python"
                        };

pprint.pprint(data);

val: str = data.pop("Country");

print(val); # Pop Remove Particular Item

pprint.pprint(data);

{'Country': 'Nertherlands',
 'Learning Language': 'Python',
 'Message': 'Free Palestine 🇵🇸'}
Nertherlands
{'Learning Language': 'Python', 'Message': 'Free Palestine 🇵🇸'}

In [74]:
from typing import Dict, Union;
import pprint;

Key = Union[int, str];

Value = Union[int, str, list, dict, tuple, set];

data : Dict[Key, Value] = {
                            "Country": "Nertherlands",
                            "Message": "Free Palestine",
                            "Learning Language":"Python"
                        };

pprint.pprint(data);

val: str = data.popitem();

print(val); # PopItem Remove Last Item

pprint.pprint(data);

{'Country': 'Nertherlands',
 'Learning Language': 'Python',
 'Message': 'Free Palestine'}
('Learning Language', 'Python')
{'Country': 'Nertherlands', 'Message': 'Free Palestine'}

In [75]:
from typing import Dict, Union;
import pprint;

Key = Union[int, str];

Value = Union[int, str, list, dict, tuple, set];

data : Dict[Key, Value] = {
                            "Country": "Nertherlands",
                            "Message": "Free Palestine",
                            "Learning Language":"Python"
                        };

pprint.pprint(data);

val: str = data.get("Message", "No Message Available");

print(val);

pprint.pprint(data);

{'Country': 'Nertherlands',
 'Learning Language': 'Python',
 'Message': 'Free Palestine'}
Free Palestine
{'Country': 'Nertherlands',
 'Learning Language': 'Python',
 'Message': 'Free Palestine'}

In [76]:
from typing import Dict, Union;
import pprint;

Key = Union[int, str];

Value = Union[int, str, list, dict, tuple, set];

data : Dict[Key, Value] = {
                            "Country": "Nertherlands",
                            "Message": "Free Palestine",
                            "Learning Language":"Python"
                        };

pprint.pprint(data);

val: str = data.setdefault("Learning Language", "TypeScript"); # Return Same Value Not Update Value

print(val);

val2: str = data.setdefault("LLM", "Empty Value"); # Add New Value In Object Not Return Error Message

print(val2);

pprint.pprint(data);

{'Country': 'Nertherlands',
 'Learning Language': 'Python',
 'Message': 'Free Palestine'}
Python
Empty Value
{'Country': 'Nertherlands',
 'LLM': 'Empty Value',
 'Learning Language': 'Python',
 'Message': 'Free Palestine'}

In [77]:
from typing import Dict, Union;
import pprint;

Key = Union[int, str];

Value = Union[int, str, list, dict, tuple, set];

data : Dict[str,str] = {
                        "fName": "Ahmed",
                        "mName": "Saleem",
                        "lName": "Shaikh",
                        "Country": "Pakistan"
                    };

data2 : Dict[Key, Value] = {
                            "Country": "Nertherlands",
                            "Message": "Free Palestine",
                            "Learning Language": "Python"
                        };

data.update(data2);

pprint.pprint(data);

{'Country': 'Nertherlands',
 'Learning Language': 'Python',
 'Message': 'Free Palestine',
 'fName': 'Ahmed',
 'lName': 'Shaikh',
 'mName': 'Saleem'}

In [78]:
print(f"{data.keys()} \n");

print(f"{data.values()} \n");

pprint.pprint(f"{data.items()}");

dict_keys(['fName', 'mName', 'lName', 'Country', 'Message', 'Learning Language'])

dict_values(['Ahmed', 'Saleem', 'Shaikh', 'Nertherlands', 'Free Palestine', 'Python'])

("dict_items([('fName', 'Ahmed'), ('mName', 'Saleem'), ('lName', 'Shaikh'), "
 "('Country', 'Nertherlands'), ('Message', 'Free Palestine'), ('Learning "
 "Language', 'Python')])")

In [79]:
from typing import Dict, Union, List;

Key = Union[int, str];

Value = Union[int, str, list, dict, tuple, set];

keys : List[str] = ["fName", "mName", "lName", "Country"];

data : Dict[Key,Value] = {};

data = data.fromkeys(keys);

print(data);

{'fName': None, 'mName': None, 'lName': None, 'Country': None}

In [80]:
data = data.fromkeys(keys, 1);

print(data);

{'fName': 1, 'mName': 1, 'lName': 1, 'Country': 1}

In [81]:
values : List[str] = ["Ahmed", "Saleem", "Shaikh", "Pakistan"];

data = data.fromkeys(keys, values); # Values Add In All Keys Items

pprint.pprint(data);

{'Country': ['Ahmed', 'Saleem', 'Shaikh', 'Pakistan'],
 'fName': ['Ahmed', 'Saleem', 'Shaikh', 'Pakistan'],
 'lName': ['Ahmed', 'Saleem', 'Shaikh', 'Pakistan'],
 'mName': ['Ahmed', 'Saleem', 'Shaikh', 'Pakistan']}

In [82]:
import pandas as pd;
from typing import Any;

data : Dict[str, list[Any]] = {
                                "No": [1, 2, 3],
                                "Company": ["Apple", "SpaceX", "Google"],
                                "Net Worth": ["$2.72 Trillion", "$150 Billion", "$1585.58 Billion"],
                            };

result: pd.DataFrame = pd.DataFrame(data);

result

   No Company         Net Worth
0   1   Apple    $2.72 Trillion
1   2  SpaceX      $150 Billion
2   3  Google  $1585.58 Billion

In [83]:
from typing import Dict, Any;

alien: Dict[Any, Any] = {"XPosition": 0, "YPosition": 25, "Speed": "Medium"};

print(f"""Original Position: {alien["XPosition"]}""");

if alien["Speed"] == "Slow":

    increment = 1;

elif alien["Speed"] == "Medium":

    increment = 2;

else:

    increment = 3;

alien["XPosition"] += increment;

print(f"""New Position: {alien["XPosition"]}""");

Original Position: 0
New Position: 2

In [84]:
from typing import Dict, Any;

alien: Dict[Any, Any] = {"XPosition": 0, "YPosition": 25, "Speed": "Medium"};

alien["Speed"] = "Fast";

if alien["Speed"] == "Slow":

    increment = 1;

elif alien["Speed"] == "Medium":

    increment = 2;

else:

    increment = 3;

alien["XPosition"] += increment;

print(f"""New Position: {alien["XPosition"]}""");

New Position: 3

In [85]:
data : Dict[str,str] = {
                        "fName": "Ahmed",
                        "mName": "Saleem",
                        "lName": "Shaikh",
                        "fName": "Ahm X" # Key Is Always Unique Put In Multiple Same Value But It Support Last Value
                    };

print(data);

val = data["fName"].upper();

print(f"My Name Is {val}");

{'fName': 'Ahm X', 'mName': 'Saleem', 'lName': 'Shaikh'}
My Name Is AHM X

In [86]:
favLanguages : Dict[str,str] = {
                                "Jen": "JavaScript",
                                "Sarah": "Python",
                                "Edward": "Solidity",
                                "Phil": "TypeScript",
                            };

friends: List[str] = ["Phil", "Sarah"];

for name in favLanguages.keys():

    print(f"Hi {name}");

    if name in friends:

        languages = favLanguages[name];

        print(f"{name.upper()}, I See You Love {languages}");

Hi Jen
Hi Sarah
SARAH, I See You Love Python
Hi Edward
Hi Phil
PHIL, I See You Love TypeScript

In [87]:
print("Erin" not in favLanguages.keys());

print(favLanguages.keys());

True
dict_keys(['Jen', 'Sarah', 'Edward', 'Phil'])

In [88]:
check: str = "Ahmed" in """My Name Is Ahmed. I'm Full Stack Developer""";

print(check); # In Method Check Value In Word As Word

True

In [89]:
from typing import Dict, List;

alien: Dict[str, int] = {"Color": "Green", "Points": 5};

alien2: Dict[str, int] = {"Color": "Yellow", "Points": 10};

alien3: Dict[str, int] = {"Color": "Red", "Points": 15};

aliens: List[Dict[str, int]] = [alien, alien2, alien3];

print(aliens);

for alienData in aliens:

    print(alienData);

[{'Color': 'Green', 'Points': 5}, {'Color': 'Yellow', 'Points': 10}, {'Color': 'Red', 'Points': 15}]
{'Color': 'Green', 'Points': 5}
{'Color': 'Yellow', 'Points': 10}
{'Color': 'Red', 'Points': 15}

In [90]:
import pprint;

aliens: List[Dict[str, int]] = [];

print(aliens);

for alienNumber in range(30):

    alien = {"Color": "Black", "Points": 15, "Speed": "Fast"};

    aliens.append(alien);

pprint.pprint(aliens);

[]
[{'Color': 'Black', 'Points': 15, 'Speed': 'Fast'},
 {'Color': 'Black', 'Points': 15, 'Speed': 'Fast'},
 {'Color': 'Black', 'Points': 15, 'Speed': 'Fast'},
 {'Color': 'Black', 'Points': 15, 'Speed': 'Fast'},
 {'Color': 'Black', 'Points': 15, 'Speed': 'Fast'},
 {'Color': 'Black', 'Points': 15, 'Speed': 'Fast'},
 {'Color': 'Black', 'Points': 15, 'Speed': 'Fast'},
 {'Color': 'Black', 'Points': 15, 'Speed': 'Fast'},
 {'Color': 'Black', 'Points': 15, 'Speed': 'Fast'},
 {'Color': 'Black', 'Points': 15, 'Speed': 'Fast'},
 {'Color': 'Black', 'Points': 15, 'Speed': 'Fast'},
 {'Color': 'Black', 'Points': 15, 'Speed': 'Fast'},
 {'Color': 'Black', 'Points': 15, 'Speed': 'Fast'},
 {'Color': 'Black', 'Points': 15, 'Speed': 'Fast'},
 {'Color': 'Black', 'Points': 15, 'Speed': 'Fast'},
 {'Color': 'Black', 'Points': 15, 'Speed': 'Fast'},
 {'Color': 'Black', 'Points': 15, 'Speed': 'Fast'},
 {'Color': 'Black', 'Points': 15, 'Speed': 'Fast'},
 {'Color': 'Black', 'Points': 15, 'Speed': 'Fast'},
 {'Color': 'Black', 'Points': 15, 'Speed': 'Fast'},
 {'Color': 'Black', 'Points': 15, 'Speed': 'Fast'},
 {'Color': 'Black', 'Points': 15, 'Speed': 'Fast'},
 {'Color': 'Black', 'Points': 15, 'Speed': 'Fast'},
 {'Color': 'Black', 'Points': 15, 'Speed': 'Fast'},
 {'Color': 'Black', 'Points': 15, 'Speed': 'Fast'},
 {'Color': 'Black', 'Points': 15, 'Speed': 'Fast'},
 {'Color': 'Black', 'Points': 15, 'Speed': 'Fast'},
 {'Color': 'Black', 'Points': 15, 'Speed': 'Fast'},
 {'Color': 'Black', 'Points': 15, 'Speed': 'Fast'},
 {'Color': 'Black', 'Points': 15, 'Speed': 'Fast'}]

In [91]:
pprint.pprint(aliens[:5]);

[{'Color': 'Black', 'Points': 15, 'Speed': 'Fast'},
 {'Color': 'Black', 'Points': 15, 'Speed': 'Fast'},
 {'Color': 'Black', 'Points': 15, 'Speed': 'Fast'},
 {'Color': 'Black', 'Points': 15, 'Speed': 'Fast'},
 {'Color': 'Black', 'Points': 15, 'Speed': 'Fast'}]

In [92]:
for alien in aliens[:5]:

    if alien["Color"] == "Black":

        alien["Color"] = "Blue";

        alien["Speed"] = "Medium";

        alien["Points"] = 10;

In [93]:
pprint.pprint(aliens[:10]);

[{'Color': 'Blue', 'Points': 10, 'Speed': 'Medium'},
 {'Color': 'Blue', 'Points': 10, 'Speed': 'Medium'},
 {'Color': 'Blue', 'Points': 10, 'Speed': 'Medium'},
 {'Color': 'Blue', 'Points': 10, 'Speed': 'Medium'},
 {'Color': 'Blue', 'Points': 10, 'Speed': 'Medium'},
 {'Color': 'Black', 'Points': 15, 'Speed': 'Fast'},
 {'Color': 'Black', 'Points': 15, 'Speed': 'Fast'},
 {'Color': 'Black', 'Points': 15, 'Speed': 'Fast'},
 {'Color': 'Black', 'Points': 15, 'Speed': 'Fast'},
 {'Color': 'Black', 'Points': 15, 'Speed': 'Fast'}]

In [94]:
for alien in aliens[0:9]:

    if alien["Color"] == "Black":

        alien["Color"] = "Blue";

        alien["Speed"] = "Medium";

        alien["Points"] = 10;

    elif alien["Color"] == "Blue":

        alien["Color"] = "White";

        alien["Speed"] = "Slow";

        alien["Points"] = 5;

pprint.pprint(aliens);

[{'Color': 'White', 'Points': 5, 'Speed': 'Slow'},
 {'Color': 'White', 'Points': 5, 'Speed': 'Slow'},
 {'Color': 'White', 'Points': 5, 'Speed': 'Slow'},
 {'Color': 'White', 'Points': 5, 'Speed': 'Slow'},
 {'Color': 'White', 'Points': 5, 'Speed': 'Slow'},
 {'Color': 'Blue', 'Points': 10, 'Speed': 'Medium'},
 {'Color': 'Blue', 'Points': 10, 'Speed': 'Medium'},
 {'Color': 'Blue', 'Points': 10, 'Speed': 'Medium'},
 {'Color': 'Blue', 'Points': 10, 'Speed': 'Medium'},
 {'Color': 'Black', 'Points': 15, 'Speed': 'Fast'},
 {'Color': 'Black', 'Points': 15, 'Speed': 'Fast'},
 {'Color': 'Black', 'Points': 15, 'Speed': 'Fast'},
 {'Color': 'Black', 'Points': 15, 'Speed': 'Fast'},
 {'Color': 'Black', 'Points': 15, 'Speed': 'Fast'},
 {'Color': 'Black', 'Points': 15, 'Speed': 'Fast'},
 {'Color': 'Black', 'Points': 15, 'Speed': 'Fast'},
 {'Color': 'Black', 'Points': 15, 'Speed': 'Fast'},
 {'Color': 'Black', 'Points': 15, 'Speed': 'Fast'},
 {'Color': 'Black', 'Points': 15, 'Speed': 'Fast'},
 {'Color': 'Black', 'Points': 15, 'Speed': 'Fast'},
 {'Color': 'Black', 'Points': 15, 'Speed': 'Fast'},
 {'Color': 'Black', 'Points': 15, 'Speed': 'Fast'},
 {'Color': 'Black', 'Points': 15, 'Speed': 'Fast'},
 {'Color': 'Black', 'Points': 15, 'Speed': 'Fast'},
 {'Color': 'Black', 'Points': 15, 'Speed': 'Fast'},
 {'Color': 'Black', 'Points': 15, 'Speed': 'Fast'},
 {'Color': 'Black', 'Points': 15, 'Speed': 'Fast'},
 {'Color': 'Black', 'Points': 15, 'Speed': 'Fast'},
 {'Color': 'Black', 'Points': 15, 'Speed': 'Fast'},
 {'Color': 'Black', 'Points': 15, 'Speed': 'Fast'}]

In [95]:
from typing import Dict, Union;

Key = Union[int, str];

Value = Union[int, str, list, dict, tuple, set];

data : Dict[Key, Value] = {
                            "Country": "Nertherlands",
                            "Message": "Free Palestine",
                            "Learning Language":"Python"
                        };

print(data);

print(type(data));

{'Country': 'Nertherlands', 'Message': 'Free Palestine', 'Learning Language': 'Python'}
<class 'dict'>

In [96]:
import json;

dataJSON = json.dumps(data, indent = 4); # Indent Add Space In JSON

print(type(dataJSON));

display(dataJSON);

print(dataJSON);

<class 'str'>

'{\n    "Country": "Nertherlands",\n    "Message": "Free Palestine",\n    "Learning Language": "Python"\n}'

{
    "Country": "Nertherlands",
    "Message": "Free Palestine",
    "Learning Language": "Python"
}

In [97]:
dataJSON = json.dumps(data, indent = 12);

display(dataJSON);

print(dataJSON);

'{\n            "Country": "Nertherlands",\n            "Message": "Free Palestine",\n            "Learning Language": "Python"\n}'

{
            "Country": "Nertherlands",
            "Message": "Free Palestine",
            "Learning Language": "Python"
}

# **Nested Dictionary Type**

In [98]:
from typing import Union, TypedDict, Tuple, Set, List;
import pprint;

dataType = TypedDict(
    "dataType",
    {
        "a": int,
        "b": int
    }
);

myDataType = TypedDict(
    "myDataType", {
        "fname": str,
        "name": str,
        "id": Union[str, int],
        "abc": List[int],
        "xyz": Set[int],
        "efg": Tuple,
        "cde": dataType
    }
);

data: myDataType = {
    "fname": "Ahmed Saleem",
    "name": "Ahmed",
    "id": 44,
    "abc": [1, 2, 3],
    "xyz": {1, 2, 3},
    "efg": (1, 2, 3),
    "cde": {"a": 1, "b": 2}
};

pprint.pprint(data);

{'abc': [1, 2, 3],
 'cde': {'a': 1, 'b': 2},
 'efg': (1, 2, 3),
 'fname': 'Ahmed Saleem',
 'id': 44,
 'name': 'Ahmed',
 'xyz': {1, 2, 3}}

In [99]:
print(data["cde"]["b"]);

print(data["cde"]);

print(data["id"]);

2
{'a': 1, 'b': 2}
44