# **List:**

In [14]:
from typing import List;

beros: List[str] = ["Bilal", "Mani", "Yaseen", "Saqlain", "Majid"];

print(beros);

print(beros[0]);
print(beros[2]);
print(beros[1].upper());

['Bilal', 'Mani', 'Yaseen', 'Saqlain', 'Majid']
Bilal
Yaseen
MANI

In [31]:
from typing import List;

beros: List[str] = ["Bilal", "mani", "Yaseen", "Saqlain", "Majid"];

print(beros);

message: str = f"{beros[1].title()} Is My Class Follow";

print(message);

['Bilal', 'mani', 'Yaseen', 'Saqlain', 'Majid']
Mani Is My Class Follow

In [16]:
data = """Alice Smith, 2007-08-05, 1, Female
Bob Jones, 2007-09-10, 2, Male
Charlie Williams, 2007-10-15, 3, Male
David Brown, 2007-11-20, 4, Male
Emily Taylor, 2007-12-25, 5, Female
Frank Johnson, 2008-01-30, 6, Male
Grace Miller, 2008-02-29, 7, Female
Henry White, 2008-03-31, 8, Male
Isabella Jones, 2008-04-30, 9, Female
Jacob Brown, 2008-05-31, 10, Male
""";

print(data);

Alice Smith, 2007-08-05, 1, Female
Bob Jones, 2007-09-10, 2, Male
Charlie Williams, 2007-10-15, 3, Male
David Brown, 2007-11-20, 4, Male
Emily Taylor, 2007-12-25, 5, Female
Frank Johnson, 2008-01-30, 6, Male
Grace Miller, 2008-02-29, 7, Female
Henry White, 2008-03-31, 8, Male
Isabella Jones, 2008-04-30, 9, Female
Jacob Brown, 2008-05-31, 10, Male

In [17]:
import re; # Regular Expression

pattern = """Grace Miller, 2008-02-29, 7, Female
""";

rows: list[str] = re.findall(pattern, data);

rows

['Grace Miller, 2008-02-29, 7, Female\n']

In [18]:
import re; # Regular Expression

pattern = """(Grace Miller), 2008-02-29, 7, (Female)
""";

rows: list[str] = re.findall(pattern, data);

rows

[('Grace Miller', 'Female')]

In [19]:
import re; # Regular Expression

pattern = """(Grace Miller), (\d{4}-\d{2}-\d{2}), 7, (Female)
""";

rows: list[str] = re.findall(pattern, data);

rows

[('Grace Miller', '2008-02-29', 'Female')]

In [20]:
import re; # Regular Expression

pattern = """Grace Miller, \d{4}-\d{2}-\d{2}, \d{1}, Female
""";

rows: list[str] = re.findall(pattern, data);

rows

['Grace Miller, 2008-02-29, 7, Female\n']

In [21]:
import re; # Regular Expression

pattern = """(.*), (\d{4}-\d{2}-\d{2}), 7, (Female)
""";

rows: list[str] = re.findall(pattern, data);

rows

[('Grace Miller', '2008-02-29', 'Female')]

In [22]:
import re; # Regular Expression

pattern = """(\d{4}-\d{2}-\d{2}), (\d{1,2}), (Male)
""";

rows: list[str] = re.findall(pattern, data);

print(len(rows));

rows

6

[('2007-09-10', '2', 'Male'),
 ('2007-10-15', '3', 'Male'),
 ('2007-11-20', '4', 'Male'),
 ('2008-01-30', '6', 'Male'),
 ('2008-03-31', '8', 'Male'),
 ('2008-05-31', '10', 'Male')]

In [23]:
data = """Ahmed, 2007-08-05, 4, AI 786
Bilal, 2006-03-06, 1, AI-567
Mani, 2004-01-06, 3 ,AI670
Usman, 2002-06-09, 10, AI4302
Ahsan, 2006-07-12, 1, AI 5678
""";

print(data);

Ahmed, 2007-08-05, 4, AI 786
Bilal, 2006-03-06, 1, AI-567
Mani, 2004-01-06, 3 ,AI670
Usman, 2002-06-09, 10, AI4302
Ahsan, 2006-07-12, 1, AI 5678

In [24]:
import re; # Regular Expression

pattern = """(AI-? ?\d{3,4})
""";

rows: list[str] = re.findall(pattern, data);

rows

['AI 786', 'AI-567', 'AI670', 'AI4302', 'AI 5678']

In [25]:
import re; # Regular Expression

pattern = """(.*), (\d{1,2}), (AI-? ?\d{3,4})
""";

rows: list[str] = re.findall(pattern, data);

# print(len(rows));

rows

[('Ahmed, 2007-08-05', '4', 'AI 786'),
 ('Bilal, 2006-03-06', '1', 'AI-567'),
 ('Usman, 2002-06-09', '10', 'AI4302'),
 ('Ahsan, 2006-07-12', '1', 'AI 5678')]

In [26]:
import pandas as pd;

df = pd.DataFrame(rows, columns = ["Name", "No.", "ID"]);

df

                Name No.       ID
0  Ahmed, 2007-08-05   4   AI 786
1  Bilal, 2006-03-06   1   AI-567
2  Usman, 2002-06-09  10   AI4302
3  Ahsan, 2006-07-12   1  AI 5678

In [27]:
records: list[str] = ["Revealed", "Spinnin", "Armada"];

print(type(records));

print(type(records[-3]));

<class 'list'>
<class 'str'>

In [28]:
abc: list[str] = list("abcdefghijklmnopqrstuvwxyz");

print(abc);

['a', 'b', 'c', 'd', 'e', 'f', 'g', 'h', 'i', 'j', 'k', 'l', 'm', 'n', 'o', 'p', 'q', 'r', 's', 't', 'u', 'v', 'w', 'x', 'y', 'z']

# **Slicing:**

In [29]:
abc: list[str] = list("abcdef");

print(abc[1:4]);

print(abc[-4:-1]);

print(abc[-2:-5]); # Step Value Default 1 Mean Direction (Left To Right)

print(abc[-2:-5:-1]); # Put Step Value -1 Means Reverse Direction (Right To Lef)

['b', 'c', 'd']
['c', 'd', 'e']
[]
['e', 'd', 'c']

In [30]:
abc: list[str] = list("abcdefghijklmnopqrstuvwxyz");

print(abc[::2]);

print(abc[0::2]);

print(abc[:26:2]);

['a', 'c', 'e', 'g', 'i', 'k', 'm', 'o', 'q', 's', 'u', 'w', 'y']
['a', 'c', 'e', 'g', 'i', 'k', 'm', 'o', 'q', 's', 'u', 'w', 'y']
['a', 'c', 'e', 'g', 'i', 'k', 'm', 'o', 'q', 's', 'u', 'w', 'y']