# **List:**

In [36]:
from typing import List;

beros: List[str] = ["Bilal", "Mani", "Yaseen", "Saqlain", "Majid"];

print(beros);

print(beros[0]);
print(beros[2]);
print(beros[1].upper());

['Bilal', 'Mani', 'Yaseen', 'Saqlain', 'Majid']
Bilal
Yaseen
MANI

In [37]:
from typing import List;

beros: List[str] = ["Bilal", "mani", "Yaseen", "Saqlain", "Majid"];

print(beros);

message: str = f"{beros[1].title()} Is My Class Follow";

print(message);

['Bilal', 'mani', 'Yaseen', 'Saqlain', 'Majid']
Mani Is My Class Follow

In [ ]:
data = """Alice Smith, 2007-08-05, 1, Female
Bob Jones, 2007-09-10, 2, Male
Charlie Williams, 2007-10-15, 3, Male
David Brown, 2007-11-20, 4, Male
Emily Taylor, 2007-12-25, 5, Female
Frank Johnson, 2008-01-30, 6, Male
Grace Miller, 2008-02-29, 7, Female
Henry White, 2008-03-31, 8, Male
Isabella Jones, 2008-04-30, 9, Female
Jacob Brown, 2008-05-31, 10, Male
""";

print(data);

Alice Smith, 2007-08-05, 1, Female
Bob Jones, 2007-09-10, 2, Male
Charlie Williams, 2007-10-15, 3, Male
David Brown, 2007-11-20, 4, Male
Emily Taylor, 2007-12-25, 5, Female
Frank Johnson, 2008-01-30, 6, Male
Grace Miller, 2008-02-29, 7, Female
Henry White, 2008-03-31, 8, Male
Isabella Jones, 2008-04-30, 9, Female
Jacob Brown, 2008-05-31, 10, Male

In [ ]:
import re; # Regular Expression

pattern = """Grace Miller, 2008-02-29, 7, Female
""";

rows: list[str] = re.findall(pattern, data);

rows

['Grace Miller, 2008-02-29, 7, Female\n']

In [ ]:
import re; # Regular Expression

pattern = """(Grace Miller), 2008-02-29, 7, (Female)
""";

rows: list[str] = re.findall(pattern, data);

rows

[('Grace Miller', 'Female')]

In [ ]:
import re; # Regular Expression

pattern = """(Grace Miller), (\d{4}-\d{2}-\d{2}), 7, (Female)
""";

rows: list[str] = re.findall(pattern, data);

rows

[('Grace Miller', '2008-02-29', 'Female')]

In [ ]:
import re; # Regular Expression

pattern = """Grace Miller, \d{4}-\d{2}-\d{2}, \d{1}, Female
""";

rows: list[str] = re.findall(pattern, data);

rows

['Grace Miller, 2008-02-29, 7, Female\n']

In [ ]:
import re; # Regular Expression

pattern = """(.*), (\d{4}-\d{2}-\d{2}), 7, (Female)
""";

rows: list[str] = re.findall(pattern, data);

rows

[('Grace Miller', '2008-02-29', 'Female')]

In [ ]:
import re; # Regular Expression

pattern = """(\d{4}-\d{2}-\d{2}), (\d{1,2}), (Male)
""";

rows: list[str] = re.findall(pattern, data);

print(len(rows));

rows

6

[('2007-09-10', '2', 'Male'),
 ('2007-10-15', '3', 'Male'),
 ('2007-11-20', '4', 'Male'),
 ('2008-01-30', '6', 'Male'),
 ('2008-03-31', '8', 'Male'),
 ('2008-05-31', '10', 'Male')]

In [ ]:
data = """Ahmed, 2007-08-05, 4, AI 786
Bilal, 2006-03-06, 1, AI-567
Mani, 2004-01-06, 3 ,AI670
Usman, 2002-06-09, 10, AI4302
Ahsan, 2006-07-12, 1, AI 5678
""";

print(data);

Ahmed, 2007-08-05, 4, AI 786
Bilal, 2006-03-06, 1, AI-567
Mani, 2004-01-06, 3 ,AI670
Usman, 2002-06-09, 10, AI4302
Ahsan, 2006-07-12, 1, AI 5678

In [ ]:
import re; # Regular Expression

pattern = """(AI-? ?\d{3,4})
""";

rows: list[str] = re.findall(pattern, data);

rows

['AI 786', 'AI-567', 'AI670', 'AI4302', 'AI 5678']

In [ ]:
import re; # Regular Expression

pattern = """(.*), (\d{1,2}), (AI-? ?\d{3,4})
""";

rows: list[str] = re.findall(pattern, data);

# print(len(rows));

rows

[('Ahmed, 2007-08-05', '4', 'AI 786'),
 ('Bilal, 2006-03-06', '1', 'AI-567'),
 ('Usman, 2002-06-09', '10', 'AI4302'),
 ('Ahsan, 2006-07-12', '1', 'AI 5678')]

In [ ]:
import pandas as pd;

df = pd.DataFrame(rows, columns = ["Name", "No.", "ID"]);

df

                Name No.       ID
0  Ahmed, 2007-08-05   4   AI 786
1  Bilal, 2006-03-06   1   AI-567
2  Usman, 2002-06-09  10   AI4302
3  Ahsan, 2006-07-12   1  AI 5678

In [ ]:
records: list[str] = ["Revealed", "Spinnin", "Armada"];

print(type(records));

print(type(records[-3]));

<class 'list'>
<class 'str'>

In [ ]:
abc: list[str] = list("abcdefghijklmnopqrstuvwxyz");

print(abc);

['a', 'b', 'c', 'd', 'e', 'f', 'g', 'h', 'i', 'j', 'k', 'l', 'm', 'n', 'o', 'p', 'q', 'r', 's', 't', 'u', 'v', 'w', 'x', 'y', 'z']

# **Slicing:**

In [ ]:
abc: list[str] = list("abcdef");

print(abc[1:4]);

print(abc[-4:-1]);

print(abc[-2:-5]); # Step Value Default 1 Mean Direction (Left To Right)

print(abc[-2:-5:-1]); # Put Step Value -1 Means Reverse Direction (Right To Lef)

['b', 'c', 'd']
['c', 'd', 'e']
[]
['e', 'd', 'c']

In [ ]:
abc: list[str] = list("abcdefghijklmnopqrstuvwxyz");

print(abc[::2]);

print(abc[0::2]);

print(abc[:26:2]);

['a', 'c', 'e', 'g', 'i', 'k', 'm', 'o', 'q', 's', 'u', 'w', 'y']
['a', 'c', 'e', 'g', 'i', 'k', 'm', 'o', 'q', 's', 'u', 'w', 'y']
['a', 'c', 'e', 'g', 'i', 'k', 'm', 'o', 'q', 's', 'u', 'w', 'y']

In [4]:
records: list[str] = ["Revealed", "Spinnin", "Armada"];

print(records);

records[0] = "Revealed Recordings";

print(records);

['Revealed', 'Spinnin', 'Armada']
['Revealed Recordings', 'Spinnin', 'Armada']

In [9]:
print(type(records));

print(dir(records)); # Show List All Methods

ls: list[str] = [i for i in dir(records) if "_" not in i];

print(ls);

print(len(ls));

<class 'list'>
['__add__', '__class__', '__class_getitem__', '__contains__', '__delattr__', '__delitem__', '__dir__', '__doc__', '__eq__', '__format__', '__ge__', '__getattribute__', '__getitem__', '__gt__', '__hash__', '__iadd__', '__imul__', '__init__', '__init_subclass__', '__iter__', '__le__', '__len__', '__lt__', '__mul__', '__ne__', '__new__', '__reduce__', '__reduce_ex__', '__repr__', '__reversed__', '__rmul__', '__setattr__', '__setitem__', '__sizeof__', '__str__', '__subclasshook__', 'append', 'clear', 'copy', 'count', 'extend', 'index', 'insert', 'pop', 'remove', 'reverse', 'sort']
['append', 'clear', 'copy', 'count', 'extend', 'index', 'insert', 'pop', 'remove', 'reverse', 'sort']
11

In [32]:
records: list[str] = ["Revealed", "Spinnin", "Armada"];

print(records);

records.append("STMPD"); # Add Element In Last

print(records);

['Revealed', 'Spinnin', 'Armada']
['Revealed', 'Spinnin', 'Armada', 'STMPD']

In [13]:
records: list[str] = ["Revealed", "Spinnin", "Armada"];

print(records);

records.insert(1, "STMPD"); # Add Element On Particular Index Position

print(records);

['Revealed', 'Spinnin', 'Armada']
['Revealed', 'STMPD', 'Spinnin', 'Armada']

In [16]:
records: list[str] = ["Revealed", "Spinnin", "Armada"];

print(records);

records.clear();

print(records);

del records # Delete Object Or List

['Revealed', 'Spinnin', 'Armada']
[]

In [23]:
records: list[str] = ["Revealed", "Spinnin", "Armada"];

print(records);

labels = records # Shallow Copy

print(labels);

labels[1] = "STMPD";

print("Records:", records);

print("Labels:", labels);

print(id(records));

print(id(labels));

['Revealed', 'Spinnin', 'Armada']
['Revealed', 'Spinnin', 'Armada']
Records: ['Revealed', 'STMPD', 'Armada']
Labels: ['Revealed', 'STMPD', 'Armada']
136417125299712
136417125299712

In [26]:
records: list[str] = ["Revealed", "Spinnin", "Armada"];

print(records);

labels = records.copy() # Deep Copy

print(labels);

labels[1] = "STMPD";

print("Records:", records);

print("Labels:", labels);

print(id(records));

print(id(labels));

del labels[2]; # No Return Means No Store In Variable

print(labels);

['Revealed', 'Spinnin', 'Armada']
['Revealed', 'Spinnin', 'Armada']
Records: ['Revealed', 'Spinnin', 'Armada']
Labels: ['Revealed', 'STMPD', 'Armada']
136417125384448
136417125384960
['Revealed', 'STMPD']

In [29]:
records: list[str] = ["Revealed", "Spinnin", "Armada"];

print(records);

labels = records.pop() # Remove Last Item & Return It

print(records);

print(labels);

['Revealed', 'Spinnin', 'Armada']
['Revealed', 'Spinnin']
Armada

In [30]:
records: list[str] = ["Revealed", "Spinnin", "Armada"];

print(records);

labels = records.pop(1)

print(records);

print(labels);

['Revealed', 'Spinnin', 'Armada']
['Revealed', 'Armada']
Spinnin

In [31]:
records: list[str] = list("Revealed");

print(records);

print(records.count("e")); # Count Element

['R', 'e', 'v', 'e', 'a', 'l', 'e', 'd']
3

In [33]:
records: list[str] = ["Revealed", "Spinnin", "Armada"];

print(records);

labels: list[str] = ["STMPD", "Monstercat", "Rave Culture"]

records.append(labels);

print(records);

['Revealed', 'Spinnin', 'Armada']
['Revealed', 'Spinnin', 'Armada', ['STMPD', 'Monstercat', 'Rave Culture']]

In [35]:
records: list[str] = ["Revealed", "Spinnin", "Armada"];

print(records);

labels: list[str] = ["STMPD", "Monstercat", "Rave Culture"]

records.extend(labels); # All Lists Combine In One List

print(records);

['Revealed', 'Spinnin', 'Armada']
['Revealed', 'Spinnin', 'Armada', 'STMPD', 'Monstercat', 'Rave Culture']